

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    color: var(--text-color); 
}

section {
    width: 80%;
    max-width: 600px;
    height: 100%; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

article.element {
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 120px; 
    padding: 10px;
    border-radius: 8px;
    
    background-color: var(--header-color);
    /*margin: 5px 0px;*/
} 

article.language {
    width: 180px;
    height: 100px;
    background-color: var(--header-color);
    flex-grow: 1;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

article.language h3 {
    /*border-bottom: 1px solid var(--text-color);*/
    padding: 5px;
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

div.wrapper-element {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.wrapper-language {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.title-header {
    padding: 5px;
    margin: 5px;
    /*border-bottom: 1px solid var(--text-color);*/
}

article .title {
    padding: 5px 0px;
    /*border-bottom: 1px var(--text-color) solid;*/
    margin-bottom: 5px;
}

article .right {
    /*width: 70%;*/
    flex: 1;
    padding: 5px;
}

article .left {
    display: flex;
    justify-content: center;
    align-items: center;
    /*width: 120px;*/
}
article .icon {
    margin: 15px;
    width: 120px;
}

.proficiency-bar {
    width: 100%;
    height: 10px;
    margin: 5px 0px;
    border-radius: 32px;
    background-color: var(--bg-color);
    overflow: hidden;
}

.proficiency-level {
    /*width: 50%;*/
    height: 100%;
    border-radius: 32px;
    background-color: var(--text-color);
}

.proficiency-level.p-l-pt {
    width: 100%;
}

.proficiency-level.p-l-en {
    width: 33%;
}

@media (max-width: 600px) {
    section { 
        width: 90%;
    }
    article .icon {
        margin: 10px;
        width: 60px;
    } 

    article.language {
        flex-grow: 1;
    }
}
