

* {
    margin: 0;
    padding: 0;

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
}

.hidden {
    display: none;
}


.ghost {
    opacity: 0;
    pointer-events: none;
    height: 0px;
    flex-basis: 0px; 
    margin: 0px;
}

html, body {
    width: 100%;
    height: 100%;
    color: var(--bg-color); 

}

body {
    display: flex;
    flex-direction: column; 
}


.debug {
    border-radius: 1px;
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
}/**/

header {
    background-color: var(--header-color);
    min-height: 160px;
}

#btn-theme {
    position: absolute;
    left: 10px; 
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

 

#btn-theme svg {
    width: 32px;
    height: 32px;
    color: var(--text-color);
}

/*#btn-theme:hover {
    background-color: var(--text-color);
    color: var(--color);
}


#btn-theme:hover svg { 
    fill: var(--color);
}*/

@media (max-width: 600px) {
    #btn-theme svg {
        width: 25px;
        height: 25px;
    }
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header h1 {
    color: var(--text-title-color);
    font-size: 40px;
}

nav ul li {
    display: block;
    font-size: 22px; 
}


nav a {
    font-style: none;
    padding: 2px 5px;

    color: var(--text-color);
    text-decoration: none;
    cursor: pointer; 
}

nav a:hover {
    
    border-bottom: 4px solid var(--nav-btn-hover);
}

.page-selected {
    border-bottom: 4px solid var(--nav-btn-selected) !important;
}

@media (max-width: 600px) {
    header { 
        min-height: 120px; 
    }
    nav ul li { 
        font-size: 18px; 
    }
    header nav ul { 
        gap: 5px;
    }
}

@media (max-width: 400px) { 
    nav ul li { 
        font-size: 12px; 
    } 
}

.dropdown {
    position: absolute;
    right: 20px; 
    width: 32px;
    height: 32px;
}

.dropdown #btn {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    background: none;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.content { 
    display: none; 
}

.content.active {
    color: var(--text-color);
    display: flex;
    text-align: center; 
    flex-direction: column;
    position: absolute;  
    top: 32px;  
    background-color: var(--bg-color);
    min-height: 72px;
}

.dropdown a {
    font-size: 22px;
    display: block; 
    text-decoration: none;
    padding: 5px;
    color: var(--text-color);
}




main {
    background-color: var(--bg-color); 
    flex: 1;   
}










footer {
    background-color: var(--footer-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80px;
    padding: 15px;
}

footer span {
    color: var(--text-color);
    text-align:center;
    text-justify: inter-word;
    font-size: 14px;
}

@media (max-width: 600px) {
    footer {
        min-height: 100px;
    }
    footer span {
        font-size: 12px;
    }
}




